:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #855cfb;
  --color-secondary: #00d8a0;

  --color-neutral-600: #2f3136;
  --color-neutral-100: #f4f6f9;
}

body {
  background: white;
}
